@page
@model KanarkiHercenskie.Pages.Wyniki.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Wynik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Wynik.ID" />
            <div class="form-group">
                <label asp-for="Wynik.ID_Klatki" class="control-label"></label>
                <select asp-for="Wynik.ID_Klatki" class="form-control" asp-items="ViewBag.ID_Klatki"></select>
                <span asp-validation-for="Wynik.ID_Klatki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wynik.NazwaCechySpiewu" class="control-label"></label>
                <select asp-for="Wynik.NazwaCechySpiewu" class="form-control" asp-items="ViewBag.NazwaCechySpiewu"></select>
                <span asp-validation-for="Wynik.NazwaCechySpiewu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wynik.PrzyznanePunkty" class="control-label"></label>
                <input asp-for="Wynik.PrzyznanePunkty" class="form-control" />
                <span asp-validation-for="Wynik.PrzyznanePunkty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
