@page
@model KanarkiHercenskie.Pages.Kolekcje.CreateModel

@{
    ViewData["Title"] = "Dodaj Kolekcję";
}

<h3>Dodaj Kolekcję</h3>
<hr />
@if (Model.KolekcjaJuzIstnieje)
{
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-danger alert-dismissible fade show p-4" role="alert">
                <h5 class="fs-5">Do każdego Konkursu Hodowca może zgłosić <strong>TYLKO JEDNĄ</strong> Kolekcję!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Kolekcja.SygnumWlasciciela" class="form-label">Właściciel</label>
                <select asp-for="Kolekcja.SygnumWlasciciela" class ="form-control" 
                    asp-items="Model.ListaHodowcow"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Kolekcja.ID_Konkursu" class="form-label">Konkurs</label>
                <select asp-for="Kolekcja.ID_Konkursu" class ="form-control" 
                    asp-items="Model.ListaKonkursow"></select>
            </div>
            <div class="mt-4 mb-4 text-center">
                <label>Numer obrączki rodowej kanarka w klatce numer</label>
                <div class="row text-center mt-2">
@for (int i = 0; i < 4; ++i) {
                    <div class="col">
                        <label class="form-label">@(i + 1)</label>
                        <input asp-for="Kolekcja.Klatki[i].NrObraczkiRodowej" type="text" class="form-control text-center" />
                    </div>
}
                </div>
            </div>
            <div>
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            @if (Model.PrzekierowanoZListyKonkursow)
            {
                <a asp-page="../Konkursy/Index" class="ms-2">Powrót do Konkursów</a> @("|")
                <a asp-page="Index">Powrót do Kolekcji</a>
            }
            @if (Model.PrzekierowanoZListyHodowcow)
            {
                <a asp-page="../Hodowcy/Index" class="ms-2">Powrót do Hodowców</a> @("|")
                <a asp-page="Index">Powrót do Kolekcji</a> 
            }
            else {
                <a asp-page="Index" class="ms-2">Powrót do listy</a>
            }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
