@page
@model KanarkiHercenskie.Pages.Kolekcje.CreateModel

@{
    ViewData["Title"] = "Dodaj Kolekcję";
}

<h3>Dodaj Kolekcję</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Kolekcja.SygnumWlasciciela" class="form-label">Właściciel</label>
                <select asp-for="Kolekcja.SygnumWlasciciela" class ="form-control" 
                    asp-items="Model.ListaHodowcow"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Kolekcja.ID_Konkursu" class="form-label">Konkurs</label>
                <select asp-for="Kolekcja.ID_Konkursu" class ="form-control" 
                    asp-items="Model.ListaKonkursow"></select>
            </div>
            <div class="mt-4 mb-4 text-center">
                <label>Numer obrączki rodowej kanarka w klatce numer</label>
                <div class="row text-center mt-2">
                    <div class="col">
                        <label class="form-label">1</label>
                        <input asp-for="Kolekcja.Klatki[0].NrObraczkiRodowej" type="text" class="form-control text-center" />
                    </div>
                    <div class="col">
                        <label class="form-label">2</label>
                        <input asp-for="Kolekcja.Klatki[1].NrObraczkiRodowej" type="text" class="form-control text-center" />
                    </div>
                    <div class="col">
                        <label class="form-label">3</label>
                        <input asp-for="Kolekcja.Klatki[2].NrObraczkiRodowej" type="text" class="form-control text-center" />
                    </div>
                    <div class="col">
                        <label class="form-label">4</label>
                        <input asp-for="Kolekcja.Klatki[3].NrObraczkiRodowej" type="text" class="form-control text-center" />
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" value="Dodaj" class="btn btn-primary" />
                <a asp-page="Index" class="ms-2">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
