@page
@model KanarkiHercenskie.Pages.Kolekcje.EditModel

@{
    ViewData["Title"] = "Edytuj Kolekcję";
}

<h3>Edytuj Kolekcję</h3>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Kolekcja.SygnumWlasciciela" class="form-label">Właściciel</label>
                <select disabled class ="form-control" asp-items="Model.ListaHodowcow" value="@Model.Kolekcja.SygnumWlasciciela"></select>
                <input asp-for="Kolekcja.SygnumWlasciciela" readonly hidden />
            </div>
            <div class="mb-3">
                <label asp-for="Kolekcja.ID_Konkursu" class="form-label">Konkurs</label>
                <select disabled class ="form-control" asp-items="Model.ListaKonkursow" value="@Model.Kolekcja.ID_Konkursu"></select>
                <input asp-for="Kolekcja.ID_Konkursu" readonly hidden />
            </div>
            <div class="mt-4 mb-4 text-center">
                <label>Numer obrączki rodowej kanarka w klatce numer</label>
                <div class="row text-center mt-2">
@for (int i = 0; i < 4; ++i) {
                    <div class="col">
                        <label class="form-label">1</label>
                        <input asp-for="Kolekcja.Klatki[i].NrObraczkiRodowej" type="text" class="form-control text-center" />
                    </div>
}
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a asp-page="Index" class="ms-2">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
